{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
      <div
        class="hero-section d-flex justify-content-center align-items-center"
      >
        <div class="hero">
          <!-- Floating Box -->
          <div class="floating-box"></div>

          <!-- Hero Text Content -->
          <div class="hero-text text-center">
            <p>Let Tech Lead</p>
            <h1 class="display-4">Building Cutting-Edge Web Technology</h1>
            <div class="prof-text">
              <span style="font-weight: 900">A</span>&nbsp;<span
                id="profession"
              ></span
              ><span class="prof">&#124;</span>
            </div>
            <div class="cta-buttons mt-3">
              <button
                onclick="window.location='{% url 'quote' %}'"
                class="btn btn-primary"
              >
                Get A Quote
              </button>
              <button
                onclick="window.location='{% url 'training' %}'"
                class="btn btn-outline-light"
              >
                <i class="fa fa-book" aria-hidden="true"></i> Register For Our
                Bootcamp
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row stats">
          <div class="col stat-item">
            <div class="stat-number">
              <span id="clients">0</span><span>+</span>
            </div>
            <div class="stat-label">Satisfied clients</div>
          </div>
          <div class="col stat-item">
            <div class="stat-number">
              <span id="projects">0</span><span>+</span>
            </div>
            <div class="stat-label">Projects completed</div>
          </div>
          <div class="col stat-item">
            <div class="stat-number">
              <span id="reviews">0</span><span>+</span>
            </div>
            <div class="stat-label">Reviews given</div>
          </div>
        </div>
      </div>
      <div class="skills-section text-dark" id="skills">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <span class="skills-label">Services We Offer</span>
              <h2 class="section-title">
                Bringing Innovation to Life Across
                <span id="project">Development, Design, and Security</span>
              </h2>
              <p class="skills-intro">
                <b>Let’s build something exceptional together!</b> Take your
                project to the next level with seamless web development,
                powerful graphics, and top-notch security solutions. Ready to
                start?
              </p>
              <a href="{% url 'contact' %}" class="contact-btn" target="_blank"
                >Get In Touch</a
              >
            </div>
            <br />
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="skill-card">
                    <div class="skill-icon">
                      <i class="fa fa-desktop"></i>
                    </div>
                    <h3>Full Stack Web Development</h3>
                    <p>
                      Transforming your ideas into robust and scalable web
                      applications. Whether it’s a full-stack solution or
                      front-end development, I utilize modern technologies like
                      Django, React, and more to deliver intuitive, responsive
                      websites that drive results. From e-commerce platforms to
                      corporate websites.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="skill-card">
                    <div class="skill-icon">
                      <i class="fa fa-paint-brush"></i>
                    </div>
                    <h3>Graphics Designing</h3>
                    <p>
                      Designing visually striking and brand-focused graphics
                      that leave a lasting impression. From logo creation to
                      marketing materials, I craft designs that reflect your
                      brand’s identity and resonate with your audience. Whether
                      you need a complete branding package or individual
                      designs, I ensure your visuals stand out.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="skill-card">
                    <div class="skill-icon">
                      <i class="fa fa-shield"></i>
                    </div>
                    <h3>cybersecurity</h3>
                    <p>
                      Securing your digital presence with comprehensive
                      cybersecurity services. As a Certified Ethical Hacker, I
                      conduct vulnerability assessments, penetration testing,
                      and security audits to safeguard your systems from cyber
                      threats. My focus is to ensure that your applications,
                      networks, and data remain secure.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="skill-card">
                    <div class="skill-icon">
                      <i class="fa fa-wordpress" aria-hidden="true"></i>
                    </div>
                    <h3>WordPress Development</h3>
                    <p>
                      Building dynamic and user-friendly websites using
                      WordPress, the world’s most popular content management
                      system (CMS). Whether you need a blog, business site, or
                      e-commerce store, I offer custom WordPress development,
                      theme customization, plugin integration, and SEO
                      optimization to help your business grow.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="animated-background">
        <div id="project" class="section project">
          <div class="container">
            <span class="portfolio-label">Projects</span>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h2 class="section-title">
                Projects We've <span id="Creations">Worked On</span>
              </h2>
            </div>
            <p class="portfolio-intro mb-3">
              Discover our latest work in web development, cybersecurity, and
              graphic design.
            </p>

            <div class="row">
              <div class="col-md-4">
                <div class="portfolio-card">
                  <div class="portfolio-image">
                    <img
                      src="{% static 'image/project/web.png' %}"
                      alt="Project 1"
                      class="img-fluid"
                    />
                  </div>
                  <div class="portfolio-content">
                    <h3 class="label">Web Crawling tool</h3>
                    <p>
                      A web Crawling tool for crawling every indexed directory
                      and files in a website.
                    </p>
                    <a
                      href="https://github.com/DegreatArizona/DNS-Enumeration.git"
                      class="behance-link"
                      target="_blank"
                      >View Tool →</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="portfolio-card">
                  <div class="portfolio-image">
                    <img
                      src="{% static 'image/project/project3.png' %}"
                      alt="Project 2"
                      class="img-fluid"
                    />
                  </div>
                  <div class="portfolio-content">
                    <h3 class="label">Classified Ads Website</h3>
                    <p>
                      A Classified Ads Marketplace Website for buying and
                      selling goods and services.
                    </p>
                    <a
                      href="https://ariscomart.com.ng"
                      class="behance-link"
                      target="_blank"
                      >View Website →</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="portfolio-card">
                  <div class="portfolio-image">
                    <img
                      src="{% static 'image/project/Section 1.png' %}"
                      alt="Project 3"
                      class="img-fluid"
                    />
                  </div>
                  <div class="portfolio-content">
                    <h3 class="label">Modern Graphic Design</h3>
                    <p>
                      Designed a clean and intuitive flyer designed for a
                      business for marketing purpose.
                    </p>
                    <a
                      href="{% static 'image/project/Section 1.png' %}"
                      class="behance-link"
                      target="_blank"
                      >View Design →</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cubes-container">
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
          <div class="cube"></div>
        </div>
      </div>
      <div class="test-section">
        <div class="test-head">
          <h2>What Our Clients Say About Us</h2>
          <p>
            Transform your brand with our innovative digital solutions that
            captivate and engage your audience.
          </p>
        </div>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body p-4 p-xxl-5">
                  <figure>
                    <img
                      class="img-fluid rounded rounded-circle mb-4 border border-5"
                      loading="lazy"
                      src="{% static 'image/test/Fatima.png' %}"
                      height="100px"
                      width="100px"
                      alt="Fatima"
                    />
                    <figcaption>
                      <div
                        class="bsb-ratings text-primary mb-3"
                        data-bsb-star="5"
                        data-bsb-star-off="0"
                      ></div>
                      <blockquote class="bsb-blockquote-icon mb-4">
                        Degreatarizona Services Limited transformed our outdated
                        systems with their exceptional web development and
                        cybersecurity expertise. Their dedication to client
                        satisfaction is evident in every detail. Truly
                        outstanding work!
                      </blockquote>
                      <h4 class="mb-2">Fatima K.</h4>
                      <h5 class="fs-6 text-secondary mb-0">
                        Operations Manager
                      </h5>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body p-4 p-xxl-5">
                  <figure>
                    <img
                      class="img-fluid rounded rounded-circle mb-4 border border-5"
                      loading="lazy"
                      src="{% static 'image/test/Kabiru.jpeg' %}"
                      height="100px"
                      width="100px"
                      alt="Kabiru"
                    />
                    <figcaption>
                      <div
                        class="bsb-ratings text-primary mb-3"
                        data-bsb-star="5"
                        data-bsb-star-off="0"
                      ></div>
                      <blockquote class="bsb-blockquote-icon mb-4">
                        I was blown away by the creativity and precision of
                        Degreatarizona Services Limited. From logo design to
                        website development, their team exceeded my
                        expectations. Highly recommended for anyone seeking
                        top-tier digital solutions!
                      </blockquote>
                      <h4 class="mb-2">Kabiru O.</h4>
                      <h5 class="fs-6 text-secondary mb-0">Entrepreneur</h5>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body p-4 p-xxl-5">
                  <figure>
                    <img
                      class="img-fluid rounded rounded-circle mb-4 border border-5"
                      loading="lazy"
                      src="{% static 'image/test/Chinyere.png' %}"
                      height="100px"
                      width="100px"
                      alt="Chinyere"
                    />
                    <figcaption>
                      <div
                        class="bsb-ratings text-primary mb-3"
                        data-bsb-star="4"
                        data-bsb-star-off="1"
                      ></div>
                      <blockquote class="bsb-blockquote-icon mb-4">
                        Working with Degreatarizona Services Limited was a
                        game-changer for our business. They delivered a stunning
                        website that is not only visually appealing but also
                        user-friendly and secure. Their professionalism and
                        attention to detail are unmatched!
                      </blockquote>
                      <h4 class="mb-2">Chinyere A.</h4>
                      <h5 class="fs-6 text-secondary mb-0">Business Owner</h5>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true" ></span> -->
            <i
              class="fa fa-arrow-left"
              aria-hidden="true"
              style="
                border: 1px solid #1e3a8a;
                border-radius: 50px;
                color: black;
                padding: 10px;
              "
            ></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <i
              class="fa fa-arrow-right"
              aria-hidden="true"
              style="
                border: 1px solid #1e3a8a;
                border-radius: 50px;
                color: black;
                padding: 10px;
              "
            ></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </main>
{% endblock content %}
  </body>
</html>
