{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
      <div id="project" class="section project">
        <div class="container">
          <span class="portfolio-label">Product</span>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h2 class="section-title">
              Projects owend by <span id="Creations">DSL</span>
            </h2>
          </div>
          <p class="portfolio-intro mb-3">
            Discover our varities of products.
          </p>

          <div class="row">
            <div class="col-md-4">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img
                    src="image/project/web.png"
                    alt="Project 1"
                    class="img-fluid"
                  />
                </div>
                <div class="portfolio-content">
                  <h3 class="label">Web Crawling tool</h3>
                  <p>
                    A web Crawling tool for crawling every indexed directory and
                    files in a website.
                  </p>
                  <a
                    href="https://github.com/DegreatArizona/DNS-Enumeration.git"
                    class="behance-link"
                    target="_blank"
                    >View Tool →</a
                  >
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img
                    src="image/project/project3.png"
                    alt="Project 2"
                    class="img-fluid"
                  />
                </div>
                <div class="portfolio-content">
                  <h3 class="label">Classified Ads Website</h3>
                  <p>
                    A Classified Ads Marketplace Website for buying and selling
                    goods and services.
                  </p>
                  <a
                    href="https://ariscomart.com.ng"
                    class="behance-link"
                    target="_blank"
                    >View Website →</a
                  >
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img
                    src="image/project/Section 1.png"
                    alt="Project 3"
                    class="img-fluid"
                  />
                </div>
                <div class="portfolio-content">
                  <h3 class="label">Modern Graphic Design</h3>
                  <p>
                    Designed a clean and intuitive flyer designed for a business
                    for marketing purpose.
                  </p>
                  <a
                    href="image/project/Section 1.png"
                    class="behance-link"
                    target="_blank"
                    >View Design →</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock content %}